.container {
  gap: 1.6rem;
}

.paragraph {
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-muted);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paragraph:hover {
  text-decoration: underline;
}
