.buttonForm {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.buttonForm > svg {
  margin-top: 4rem;
  background-color: var(--primary);
  width: 25rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.buttonForm > svg:hover {
  background-color: var(--link-hover);
}
